* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100%;

    background: #00000f;
    background-image: url('../img/planet/BG.png');
}
h2 {
    color: rgb(107, 107, 107);
    text-shadow: 1px 1px 1px #ffffff;

    /* padding: 10px 0px 20px 0px; */
    margin: 10px 0px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.hr {
    margin: 0px 0px 10px 0px;
}
.hr .hrFlower {
    width: 30px;
}

#board {
    width: 384px;
    height: 384px;

    background: #1e1e1ed4;
    border: 4px double rgb(52, 36, 26);
    border-radius: 2px;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tile {
    width: 90px;
    height: 90px;
    border: 1px solid #000000;
    margin: 2px;
    border-radius: 4px;

   box-shadow:  inset 0px -4px 8px rgb(0, 0, 0), 0px 2px 4px rgb(49, 49, 49);
   background: #01050e95;

    font-size: 30px;
    font-weight: 900;
    color: #030015;
    text-shadow: 1px 1px 0px #ffffff ;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* colored tiles */
.x2 { 
    background: #9ca49e;

    background-image: url('../img/planet/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: flex-end;
}
.x4 { 
    background: #ac955f;

    background-image: url('../img/planet/2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px 1px;
    background-size: 70px;
    justify-content: end;
}
.x8 { 
    background: #e79a9a;

    background-image: url('../img/planet/3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x16 {
    background: #725740;

    background-image: url('../img/planet/4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x32 {
    background: #516e86;

    background-image: url('../img/planet/5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x64 {
    background: #85b7cb;

    background-image: url('../img/planet/55.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
} 
.x128 {
    background: #545782;

    background-image: url('../img/planet/6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x256 {
    background: #635743;

    background-image: url('../img/planet/7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x512 {
    background: #6e8e93;

    background-image: url('../img/planet/8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x1024 {
    background: #1d5463;

    background-image: url('../img/planet/9.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x2048 {
    background: #000f70;

    background-image: url('../img/planet/10.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: 60px;
    justify-content: end;
}
.x4096 {
    background: #1c4630;

    background-image: url('../img/planet/11.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 80px;
    justify-content: end;
}
.x8192 {
    background: #000815;

    background-image: url('../img/planet/12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 80px;
    justify-content: end;
}
/* end colored tiles */

/* button */
.game_pad {
    width: 250px;
    height: 150px;
    background: #222239;

    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 4px #564129 double;
}
#keyUp {
    position: absolute;
    top: 5px;
    left: 100px;
} 
#keyRight {
    position: absolute;
    top: 40px;
    right: 5px;
}
#keyLeft {
    position: absolute;
    top: 40px;
    left: 5px;
}
#keyDown {
    position: absolute;
    top: 95px;
    left: 100px;
}
#keyUp, #keyDown, #keyLeft, #keyRight {
    width: 40px;
    height: 40px;

    border-radius: 10px;
    border: 4px double #493727;

    margin-bottom: 5px;
    background: #947e66;

    box-shadow:  inset 0px -1px 8px rgb(69, 69, 69), 0px 2px 4px rgb(0, 0, 0);
}
#keyUp:hover, #keyDown:hover, #keyLeft:hover, #keyRight:hover {
    background: #726250;
    box-shadow:  inset 0px -1px 8px rgb(140, 140, 140), 0px 2px 2px rgb(0, 0, 0);

}
/* https://icons8.com/icon/set/arrow/family-hand-drawn   ##arrows icon## */
/* button end */


@media (max-width: 600px) {
    #board {
        width: 344px;
        height: 344px;
    }
    .tile {
        width: 80px;
        height: 80px;
    
        font-size: 24px;
    }


    /* colored tiles */
.x2 { 
    background-size: 50px;
}
.x4 { 
    background-size: 60px;
}
.x8 { 
    background-size: 50px;
}
.x16 {
    background-size: 50px;
}
.x32 {
    background-size: 50px;
}
.x64 {
    background-size: 50px;
} 
.x128 {
    background-size: 50px;
}
.x256 {
    background-size: 50px;
}
.x512 {
    background-size: 50px;
}
.x1024 {
    background-size: 50px;
}
.x2048 {
    background-size: 50px;
}
.x4096 {
    background-size: 70px;
}
.x8192 {
    background-size: 70px;
}
/* end colored tiles */

} 

